.comment{
    border: black 1px solid;
}
.replys{
     padding-left: 20px;
 }
.commentInfo{
    margin: 0px 0px 5px 5px;
}
.commentText{
    border-left: black 1px solid;
}
.commentLight{
    background-color: #E3E3E3;
}
.commentDark{
    background-color: #b1b1b1;
}
.detailImg{
    padding-right: 0px;
    border: 1px solid black;
    padding-left: 0px;
}