.error{
	color: red;
}
.noBreak{
	margin: 0px;
}
.inputError{
	border: red 1px solid;
}
a{
	color: #212529;
	text-decoration: none;
}
a:hover{
	color: #212529;
	text-decoration: none;
}
a:active{
	color: #212529;
	text-decoration: none;
}
a:focus{
	color: #212529;
	text-decoration: none;
}
.row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 5px;
}